html {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  width: 100%;
  height: 800px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  opacity: 1;
  width: 100%;
}

.jumbotron-heading {
  color: #000000;
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 750px;
  letter-spacing: 3px;
  font-size: 50px;
  font-family: Helvetica;
}

.grid-list {
  width: 100%
  height: 900px;
}
