.nav-bar {
  cursor: 'pointer';
  background-color: transparent !important;
}

.nav-button {
  color: white !important;
}

.video-container {
  height: 725px;
  width: 100%;
  overflow: hidden;
}

video {
  width: 100%;
}

.grid-list {
  width: 100%
  height: 900px;
}

.grid-tile {
  cursor: pointer;
}
